/*{ Global Styles */
html {
background: linear-gradient(rgba(0, 0, 4, .4), rgba(0, 0, 4, .4));
background-size: 100% auto;
background-repeat: repeat;
background-color: #19356C;
}

body, textarea, input {
padding-top: 5em;
font-family: Calibri, sans-serif;
background-color: #19356c;
}

h1, h2{
text-align: center;
margin-top: 5%;
color: #FFF;
}

.AboutMe {
background-color: #19356C;
color: #FFF}


/* Adds a small white border to the form boxes when clicked on (focused on) */
.form-box:focus {
border: 3px solid #FFF;
}
.submitButton:focus {
border: 3px solid #FFF;
}

/* Placeholder basic CSS for list items.
   Later, I'd like this to be a little bobbing animation. It's pretty ugly right now. */
li:hover {
background-color: #FFF;
color: #000;
}

/* Tiny screens */
@media only screen and (min-width: 200px)
{

img {
display: block;
margin: 0 auto;
margin-top: 3%;
width: 200px;
height: 200px;
}



.myself {
text-align: center;
margin-top: 5%;
margin-left: 10%;
margin-right: 10%;
line-height: 2em;
color: #FFF;
font-size: 1em;
}

.hobbies {
text-align: center;
margin-top: 3%;
margin-left: 10%;
margin-right: 10%;
line-height: 2em;
color: #FFF;
font-size: 1em;
}

.skills-list{
color: #FFF;
list-style: none;
text-align: center;
margin-top: 3%;
margin-left: 3%;
margin-right: 3%;
padding-left: 7%;
padding-right: 7%;
}

.skills-list li {
display: inline-block;
text-align: center;
padding: 10px;
font-weight: bold;
}

}

/* Phone Screens */
@media only screen and (min-width : 480px)
{

img {
display: block;
margin: 0 auto;
margin-top: 3%;
width: 200px;
height: 200px;
}

.myself {
text-align: center;
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
font-size: 1em;
}

.hobbies {
text-align: center;
margin-top: 3%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
font-size: 1em;
}

.skills-list{
color: #FFF;
list-style: none;
text-align: center;
margin-top: 3%;
margin-left: 3%;
margin-right: 3%;
padding-left: 7%;
padding-right: 7%;
}

.skills-list li {
display: inline-block;
text-align: center;
padding: 10px;
font-weight: bold;
}

}

/* Tablet Screens */
@media only screen and (min-width : 768px)
{

img {
display: block;
margin: 0 auto;
margin-top: 3%;
width: 200px;
height: 200px;
}

.myself {
text-align: center;
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
}

.hobbies {
text-align: center;
margin-top: 3%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
}

.skills-list{
color: #FFF;
list-style: none;
text-align: center;
margin-top: 3%;
margin-left: 3%;
margin-right: 3%;
padding-left: 7%;
padding-right: 7%;
}

.skills-list li {
display: inline-block;
text-align: center;
padding: 10px;
font-weight: bold;
}

}
/*
/* Medium Monitor Screens */
@media only screen and (min-width : 992px) 
{

img {
display: block;
margin: 0 auto;
margin-top: 3%;
width: 200px;
height: 200px;
}

.myself {
text-align: center;
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
}

.hobbies {
text-align: center;
margin-top: 3%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
}

.skills-list{
color: #FFF;
list-style: none;
text-align: center;
margin-top: 3%;
margin-left: 3%;
margin-right: 3%;
padding-left: 7%;
padding-right: 7%;
}

.skills-list li {
display: inline-block;
text-align: center;
padding: 10px;
font-weight: bold;
}

}

/* Large Monitor Screens */
@media only screen and (min-width : 1200px)
{

img {
display: block;
margin: 0 auto;
margin-top: 3%;
width: 200px;
height: 200px;
}

.myself {
text-align: center;
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
}

.hobbies {
text-align: center;
margin-top: 3%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
}

.skills-list{
color: #FFF;
list-style: none;
text-align: center;
margin-top: 3%;
margin-left: 3%;
margin-right: 3%;
padding-left: 7%;
padding-right: 7%;
}

.skills-list li {
display: inline-block;
text-align: center;
padding: 10px;
font-weight: bold;
}

} /* End Large Screen media (1200px+) */
*/

